*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --Primary-Color: #41579F;
    --Background-Color: #181a1b;
    --Background-Color-Off: #1a1c1d;
    --Background-Color2:#0F0F0F;
    --Text-Color: #f2f2f2;
    --Text-Color-Off: #ffffff9d;
    --Text-Color2: #ffffff59;
    --Speed: 500ms;
}
body{
    background-color: var(--Background-Color);
    color: #fff;
    min-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    color: var(--Text-Color);
    text-decoration: none;
}

/* --- Navbar --- */
header{
    position: fixed;
    padding: 1% 10%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: var(--Background-Color);
    box-shadow: 0 1px 20px var(--Background-Color-Off);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    width: 160px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.logo-text{
    color: var(--Primary-Color);
    font-size: 20px;
}
.logo-img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    flex-shrink: 0;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    font-size: 18px;
}
nav ul li a:hover{
    color: var(--Text-Color-Off);
}
.navbar-icons{
    display: flex;
    align-items: center;
    gap: 14px;
}
.navbar-icons a svg{
    fill: var(--Text-Color);
}
.navbar-icons a svg:hover{
    fill: var(--Text-Color-Off);
}

/* --- Main --- */
.container{
    padding: 10px 10%;
    min-height: 100vh;
}
.text{
    margin-top: 20%;
    font-size: 30px;
}
.text h1{
    margin-top: 20px;
    font-size: 60px;
}
.text h1 span{
    color: var(--Primary-Color);
}

#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 100px;
    height: fit-content;
    gap: 100px;
    background-color: var(--Background-Color2);
    flex-wrap: wrap
}
#skill .title{
    color: var(--Text-Color);
    font-size: 30px;
}
#skills .skill{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:15px
}


/* --- Footer --- */
footer p{
    padding: 0;
    font-size: 0.8em;
    color: var(--Text-Color2);
    margin: 0;
    font-size: 1rem;
}
footer{
    width: 100%;
    background: var(--Background-Color2);
    color: var(--Text-Color); 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}
